<window id="4">
	<defaultcontrol always="true">6</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<control type="multiimage">
			<include>BackgroundVarsGlobal</include>
			<imagepath>backdrops/default_settings</imagepath>
			<info>Skin.String(CustomSettings)</info>
		</control>
		<control type="group">
			<include>FullScreenDimensions</include>
			<animation type="WindowOpen" reversible="false" condition="!Window.Previous(12) + !Window.Previous(13) + !Window.Previous(14) + !Window.Previous(15) + !Window.Previous(16) + !Window.Previous(18) + !Window.Previous(19) + !Window.Previous(17) + !Window.Previous(604) + !Window.Previous(56) + !Window.Previous(34)">
				<effect type="zoom" start="80" end="100" center="640,360" easing="out" tween="back" time="300" />
				<effect type="fade" start="0" end="100" time="300" />
			</animation>
			<animation type="WindowClose" reversible="false" condition="Window.Next(Home) | Window.Next(25) | Window.Next(24) | Window.Next(1) | Window.Next(2) | Window.Next(500) | Window.Next(501) | Window.Next(502)">
				<effect type="zoom" start="100" end="80" center="640,360" easing="in" tween="back" time="300" />
				<effect type="fade" start="100" end="0" time="300" />
			</animation>
			<include>Furniture_SettingsBackPanel</include>
			<control type="image">
				<include>Furniture_SettingsInternalBackPanel</include>
				<include>Animation_SettingsInternalPanel</include>
			</control>
			<control type="list" id="6">
				<posx>42</posx>
				<posy>62</posy>
				<height>650</height>
				<width>250</width>
				<onup>6</onup>
				<ondown>6</ondown>
				<onfocus>Skin.Reset(bmtransit)</onfocus>
				<viewtype>list</viewtype>
				<orientation>vertical</orientation>
				<focusposition>0</focusposition>
				<scrolltime>200</scrolltime>
				<include>Animation_CommonFade</include>
				<visible>true</visible>
				<itemlayout width="216" height="54">
					<control type="label">
						<posx>30</posx>
						<posy>3</posy>
						<include>Objects_SettingsSectionMenuButton</include>
						<info>ListItem.Label</info>
					</control>
					<control type="label">
						<posx>30</posx>
						<posy>28</posy>
						<include>Objects_SettingsSectionMenuButtonSubtitle</include>
						<info>ListItem.Label2</info>
					</control>
				</itemlayout>
				<focusedlayout width="216" height="54">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>216</width>
						<height>54</height>
						<texture>settings/settings_leftmenufocus.png</texture>
					</control>
					<control type="label">
						<posx>30</posx>
						<posy>3</posy>
						<include>Objects_SettingsSectionMenuButtonFocused</include>
						<textcolor>FF262728</textcolor>
						<info>ListItem.Label</info>
					</control>
					<control type="label">
						<posx>30</posx>
						<posy>28</posy>
						<align>left</align>
						<include>Objects_SettingsSectionMenuButtonSubtitle</include>
						<textcolor>FF262728</textcolor>
						<info>ListItem.Label2</info>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<description>Videos</description>
						<label>31140</label>
						<label2>31141</label2>
						<thumb>special://skin/media/tutorials/tut_movies</thumb>
						<onclick>ActivateWindow(MyVideosSettings)</onclick>
					</item>
					<item id="2">
						<description>Music</description>
						<label>31142</label>
						<label2>31143</label2>
						<thumb>tutorials/tut_music</thumb>
						<onclick>ActivateWindow(MyMusicSettings)</onclick>
					</item>
					<item id="3">
						<description>Programs</description>
						<label>31144</label>
						<label2>31145</label2>
						<thumb>tutorials/tut_apps</thumb>
						<onclick>ActivateWindow(MyProgramsSettings)</onclick>
					</item>
					<item id="4">
						<description>Pictures</description>
						<label>31146</label>
						<label2>31147</label2>
						<thumb>tutorials/tut_pictures</thumb>
						<onclick>ActivateWindow(MyPicturesSettings)</onclick>
					</item>
					<item id="5">
						<description>Weather</description>
						<label>31148</label>
						<label2>31149</label2>
						<thumb>tutorials/tut_weather</thumb>
						<onclick>ActivateWindow(MyWeatherSettings)</onclick>
					</item>
					<item id="6">
						<description>Network</description>
						<label>31150</label>
						<label2>31151</label2>
						<thumb>tutorials/tut_network</thumb>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
					</item>
					<item id="7">
						<description>System</description>
						<label>31152</label>
						<label2>31153</label2>
						<thumb>tutorials/tut_system</thumb>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item id="8">
						<description>Appearance</description>
						<label>31154</label>
						<label2>31155</label2>
						<thumb>tutorials/tut_appearance</thumb>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
					</item>
					<item id="9">
						<description>Customise</description>
						<label>31156</label>
						<label2>31157</label2>
						<thumb>tutorials/tut_aeon</thumb>
						<onclick>ActivateWindow(604)</onclick>
					</item>
					<item id="10">
						<description>Profile Settings</description>
						<label>31160</label>
						<label2>31161</label2>
						<thumb>tutorials/tut_profiles</thumb>
						<onclick>XBMC.ActivateWindow(34)</onclick>
					</item>
					<item id="11">
						<description>Vitals</description>
						<label>31502</label>
						<label2>31503</label2>
						<thumb>tutorials/vitals</thumb>
						<onclick>XBMC.ActivateWindow(34)</onclick>
					</item>
				</content>
			</control>
			<control type="multiimage">
				<posx>332</posx>
				<posy>58</posy>
				<width>840</width>
				<height>472</height>
				<timeperimage>20000</timeperimage>
				<randomize>true</randomize>
				<fadetime>1000</fadetime>
				<include>BackgroundFade</include>
				<imagepath background="true">$INFO[Container(6).ListItem.thumb]</imagepath>
			</control>
		<!-- Vitals -->
			<control type="group">
				<visible>Container(6).HasFocus(11)</visible>
				<include>Animation_CommonFade</include>
				<posx>332</posx>
				<posy>58</posy>
				<width>840</width>
				<height>580</height>
				<control type="label">
					<posx>20</posx>
					<posy>8</posy>
					<width>285</width>
					<height>491</height>
					<font>Font_Vitals</font>
					<align>left</align>
					<aligny>top</aligny>
					<textoffsetx>15</textoffsetx>
					<textcolor>aa000000</textcolor>
					<label>31598</label>
				</control>
				<control type="label">
					<posx>305</posx>
					<posy>8</posy>
					<width>553</width>
					<height>491</height>
					<font>Font_Vitals</font>
					<align>left</align>
					<aligny>top</aligny>
					<textoffsetx>15</textoffsetx>
					<textcolor>Colour_OffWhite</textcolor>
					<label>$INFO[System.BuildDate][CR]$LOCALIZE[31000][CR]$INFO[Skin.CurrentTheme][CR]$INFO[System.Language][CR]$INFO[System.ScreenResolution][CR]$INFO[System.FreeMemory][CR]$INFO[System.UsedspacePercent][CR]$INFO[System.CPUTemperature][CR]$INFO[System.GPUTemperature][CR]$INFO[System.Uptime][CR]$INFO[System.Internetstate][CR]$INFO[Network.IPAddress][CR]$INFO[System.DVDLabel]</label>
				</control>
			</control>
		<!-- Settings Labels -->
			<control type="group">
				<description>Settings Labels - Tier 1: Movies</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(1)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31800</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31801</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Music</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(2)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31802</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31803</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Apps</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(3)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31804</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31805</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Pictures</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(4)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31806</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31807</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Weather</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(5)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31808</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31809</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Network</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(6)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31812</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31813</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: System</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(7)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31816</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31817</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Appearance</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(8)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31814</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31815</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Customisation Options</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(9)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31810</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31811</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Profile</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(10)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31820</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31821</label>
				</control>
			</control>
			<control type="group">
				<description>Settings Labels - Tier 1: Vitals</description>
				<include>Labels_MainLabelGroup</include>
				<visible>Container(6).HasFocus(11)</visible>
				<control type="label">
					<include>Labels_MainLabelBigVars</include>
					<label>31820</label>
				</control>
				<control type="label">
					<include>Labels_MainLabelSmallVars</include>
					<label>31821</label>
				</control>
			</control>
		<!-- front panel -->
			<control type="image">
				<description>background image</description>
				<posx>42</posx>
				<posy>28</posy>
				<width>1196</width>
				<height>651</height>
				<texture>settings/settings_panelfront.png</texture>
			</control>
			<control type="image">
				<posx>331</posx>
				<posy>43</posy>
				<width>842</width>
				<height>634</height>
				<texture>settings/settings_intframe_top.png</texture>
				<include>Animation_SettingsInternalPanel</include>
			</control>
		</control>
		<include>Background_ContextBlack</include>
	</controls>
</window>